	

.ie6png { behavior: url(css/iepngfix.htc) }


    #haoetv{position:fixed!important;position:absolute;right:0;bottom:0;top:expression(offsetParent.scrollTop+offsetParent.clientHeight-30);cursor:pointer;}
    #close{position:fixed!important;position:absolute;right:0;bottom:0;top:expression(offsetParent.scrollTop+offsetParent.clientHeight-49);cursor:pointer;}
    

h3 {
	margin-top:0;
	padding-top:0;
	
}


body {
	font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif;
	margin-top: 0px;
	font-size: 12px;
	color: #444444;
	behavior:url("css/ie6hoverfix.htc");

	background-color:#FFFFFF;
	background-repeat:repeat-y;
	background-attachment:fixed;
	
    margin-left: 0px; /* for ie only*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-position: center top; 
	/***background-image: url();***/
	background-attachment: scroll;


}

  a { text-decoration: none; color:#00A3B6 }
  a:hover { text-decoration:underline;}
/*
  select { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px}
  input { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px}
  td { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px}
input:focus, textarea:focus, select:focus {
	background: #FFDDFF;
	background-color: #FFDDFF;
}
*/



  
  .font_00 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #45454b; line-height: 150% }
  .font_01 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #828282; line-height: 150% }

  .font_02 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #0058A5; font-weight: bold}
  .font_03 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #e10043; }
  .font_04 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #ff0000; }
  .font_05 { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #008700; }
  .bold { font-family: "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", verdana, tahoma, arial, serif; font-size: 12px; color: #0058A5; font-weight: bold}
  

  
  a.link_00:link { text-decoration: none; color:#000000}
  a.link_00:visited { text-decoration: none; color:#000000}
  a.link_00:active { text-decoration: none; color:#000000}
  a.link_00:hover { text-decoration: none; color:#ffffff}

  
  a.link_02:link { text-decoration: none; color:#ffffff}
  a.link_02:visited { text-decoration: none; color:#ffffff}
  a.link_02:active { text-decoration: none; color:#ffffff}
  a.link_02:hover { text-decoration: none; color:#cccccc}  

  a.link_03:link { text-decoration: none; color:#008700}
  a.link_03:visited { text-decoration: none; color:#008700}
  a.link_03:active { text-decoration: none; color:#008700}
  a.link_03:hover { text-decoration: none; color:#006900}  

  a.link_04:link { text-decoration: none; color:#000000}
  a.link_04:visited { text-decoration: none; color:#000000}
  a.link_04:active { text-decoration: none; color:#000000}
  a.link_04:hover { text-decoration: none; color:#45454b}  


.tbl1 {
	width: 800;
	
}

/* CSS Document */
#ffnewyear{
}
#fflnewyear{
	position: absolute;
	float: left;
	margin: 0px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/newyear02.jpg);
}
#ffValentine{
	position: absolute;
	float: left;
	margin: -1px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/f1-2.gif);
	visibility: visible;
}
#ffwvalentine{
	position: absolute;
	float: left;
	margin: 0px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/w_valentine02.jpg);
}
#ffcvalentine{
	position: absolute;
	float: left;
	margin: 0px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/cvalentines2.jpg);
}
#ffmoon{
	position: absolute;
	float: left;
	margin: 0px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/moon2.jpg);
}
#ffhalloween{
	position: absolute;
	float: left;
	margin: 0px 0px 0px 200px;
	width: 21px;
	height: 110px;
	background-image: url(mac/halloween2.jpg);
}
#ffxmas{
	position: absolute;
	float: left;
	margin: -1px 0px 0px 198px;
	width: 21;
	height: 110;
	visibility: invisible;
}
#ff{
	position: absolute;
	float: left;
	margin: -1px 0px 0px 198px;
	width: 21;
	height: 110;
	visibility: invisible;
}
#ff2{
	position: absolute;
	float: left;
	margin: -1px 0px 0px 198px;
	width: 21;
	height: 110;
	visibility: invisible;
}
#flashv{
	margin: 5px 0px 0px 0px;
}
.0214banner {
	padding: 0px 0px 10px 0px;
}
#base {
	width: 800px;
	margin: 15px 0px 12px 0px;
}
#titlebar {
	margin: 0px 0px 0px 0px;
}
#slogan {
	margin: 0px 0px 0px 15px;
}
#slogan0214 {
margin: 0px 0px 0px 15px;
	height: 115px;
}
#slogan-cnyear {
margin: 0px 0px 0px 15px;
	height: 114px;
}
#banner {
	margin: 0px 0px 0px 16px;
}
#login {
	margin: 0px 0px 0px 15px;
	width: 582px;
	height: 34px;
	background-image: url(image/login-bg.gif);
}
#login-info{
	margin: 0px 0px 0px 10px;
	padding: 0px;
	width: 100%;
}
.login-info-td-1{
	width: 80px;
}
.login-info-td-2{
	width: 65px;
}
.login-info-td-3{
	width: 110px;
}
.login-info-td-4{
	width: 65px;
}
.login-info-td-5{
	width: 110px;
}
.login-textarea {
	width: 90px;
	color: #666;
	font-size: 12px;
}
.button {
	margin: 3px 0px 0px 0px;
}
#sort {
	margin: 5px 0px 0px 0px;
}
#sort-content {
	width: 201px;
	height: 36px;
	margin: 0px 0px 4px 0px;
	background-image: url(image/sort-bg.gif);
}
#sort-all {
	margin: 11px 0px 0px 0px;
}
.sort-pic {
	padding: 2px;
	margin: 0px 10px 0px 5px;
	border: 1px solid #666;
}
.sort-title {
	color: #4d4d4d;
	font-size: 12px
}
a.sort-title:link {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: underline; 
}
a.sort-title:hover {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: none; 
}
a.sort-title:visited {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: underline; 
}
#main {
	margin: 0px 0px 0px 0px;
}
#vcard {
	margin: 3px 0px 0px 15px; 
}
#vcard-all {
	margin: 0px 0px 0px 15px;
}
#vcard-all2 {
	margin: 10px 0px 0px 15px; 
	width: 95%; 
}
#vcard-bg{
	width: 111px;
	height: 140px;
	background-image: url(image/vcard-bg.gif);
	margin: 4px 0px 6px 0px;
}

#preview-bg{
	width: 125px;
	margin: 4px 0px 6px 0px;
}
#preview-content{
	background-image: url(image/preview-bg2.gif);
	margin: 5px 0px 0px 0px;
}

#preview-content2{
	background-image: url(image/preview-bg2.gif);
	margin: 5px 0px 0px 0px;
}

.previewContainer {	DISPLAY: block; MARGIN: 0px;WIDTH: 100px;
	margin: 5px 0px 5px 0px;
}

.preview-pic {
	margin: 5px 0px 5px 0px;
}
#vcard-bg2{
	width: 111px;
	height: 140px;
	background-image: url(image/vcard-bg2.gif);
}
#vcard-content{
	margin: 5px 0px 0px 0px;
}
.vcard-pic {
	margin: 15px 0px 5px 0px;
}
.vcard-title {
	color: #ff6600;
	font-size: 12px
}
a.vcard-title:link {
	color: #ff6600;
	font-size: 12px;
	text-decoration: underline; 
}
a.vcard-title:hover {
	color: #ff6600;
	font-size: 12px;
	text-decoration: none; 
}

#obj-bg{
	width: 111px;
	height: 140px;
	background-image: url(image/vcard-bg.gif);
	margin: 4px 0px 6px 0px;
}

.obj-pic {
	margin: 16px 0px 2px 0px;
}

.obj-subtitle {
	color: #cccccc;
	font-size: 7pt
}
.obj-title {
	color: #ff6600;
	font-size: 12px
}
a.obj-title:link {
	color: #ff6600;
	font-size: 12px;
	text-decoration: underline; 
}
a.obj-title:hover {
	color: #ff6600;
	font-size: 12px;
	text-decoration: none; 
}

.vcard-play {
	color: #ff6600;
	font-size: 12px
}
a.vcard-play:link {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: underline; 
	background-image: url(image/icon-play.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
a.vcard-play:hover {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: none; 
	background-image: url(image/icon-play.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
a.vcard-play:visited {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: underline; 
	background-image: url(image/icon-play.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
.vcard-send {
	color: #ff6600;
	font-size: 12px
}
a.vcard-send:link {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: underline; 
	background-image: url(image/icon-send.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
a.vcard-send:hover {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: none; 
	background-image: url(image/icon-send.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
a.vcard-send:visited {
	color: #a5a5a5;
	font-size: 12px;
	text-decoration: underline; 
	background-image: url(image/icon-send.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 17px;
}
#download {
	margin: 6px 0px 0px 5px;
}
#download-all {
	width: 190px;
	margin: 11px 0px 0px 10px;
}
#download-content {
	width: 190px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #bcbcbc;
}
.download-pic {
	border: 4px solid #eaeac3;
	margin-right: 3px;
}
.download-title {
	color: #4d4d4d;
	font-size: 12px
}
a.download-title:link {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: underline; 
}
a.download-title:hover {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: none; 
}
a.download-title:visited {
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: underline; 
}
.download-date {
	color: #ff8a8a;
	font-size: 6pt;
	font-family: arial;
}
.footer {
	margin: 5px 0px 15px 0px;
}
#jumpmenu2 {
	color: #8AA046;
	font-size: 12px;
	padding: 10px 0px 10px 0px;
}
.jumomenu {
	color: #8AA046;
	font-size: 12px;
	margin-left: 10px;
}
#vcard2 {
	width: 100%;
	margin: 6px 0px 10px 15px; 
}
#vcard-assopath {
	width: 580px;
	margin: 16px 0px 0px 15px; 
}
.vcard-title-bg {
	background-image: url(image/sort-title.gif);
	color: #cca622;
	font-size: 12px;
	padding-left: 15px;
}
.vcard-sort-title {
	color: #cca622;
	font-size: 12px;
	padding-left: 5px;
}
#vcard-all3 {
	margin: 10px 0px 0px 15px; 
	width: 98%; 
}
#send-title-bg {
	margin-left: 15px;
	height: 19px;
	background-image: url(image/send-title.gif);
	color: #cca622;
	font-size: 12px;
	padding-left: 15px;
}
.send-hint {
	margin-left: 15px;
}
#send {
	margin: 5px 0px 0px 15px;
	background-image: url(image/send-bg.gif);
	background-repeat : no-repeat;
}
.send-pic {
	border: 1px solid #666;
	padding: 3px;
	background-color: #fff;
	margin: 20px 15px 0px 30px;
}
#send-content {
	margin: 20px 10px 0px 0px;
	color: #666;
	font-size: 12px;
}
.send-number {
	color: #912222;
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}
.send-textarea {
	border: 1px solid #999;
	width: 150px;
	color: #666;
	font-size: 12px;
	margin: 5px 0px 5px 0px;
}
.send-textarea2 {
	border: 1px solid #999;
	width: 300px;
	color: #666;
	font-size: 12px;
	margin: 5px 0px 5px 0px;
}
.send-button {
	margin: 3px 0px 0px 0px;
	color: #666;
	padding: 3px;
}
.about-vcardlogo {
	padding: 0px 28px 0px 0px;
}
#about-title {
	margin-right: 2px;
	height: 19px;
	background-image: url(image/about-title.gif);
	background-repeat: no-repeat;
	color: #cca622;
	font-size: 12px;
	padding-left: 15px;
}
#about {
	margin: 1px 0px 0px 0px ;
	padding: 10px 0px 10px 10px;
	background-image: url(image/about-bg.gif);
	background-repeat: no-repeat;
	color: #666;
	font-size: 12px;
	line-height: 150%;
}
.about-special {
	color: #ff3300;
}
.about-list {
	list-style-image: url(image/about-arrow.gif);
}
#table-about-mobile {
	margin-top: 5px;
	width: 80%;
	color: #333;
	font-size: 12px;
	border: 1px solid #333;
	padding: 5px;
}
.about-mobile-td {
	background-color: #FFB0B0;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	font-family: arial;
	font-weight: bold;
}
.about-mobile-td2 {
	background-color: #CEFAFF;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	font-family: arial;
}
.about-mobile-td3 {
	background-color: #CEFAFF;
	border-right: 0px solid #333;
	border-bottom: 1px solid #333;
	font-family: arial;
}
.about-mobile-td4 {
	background-color: #fff;
	border-right: 0px solid #333;
	border-bottom: 1px solid #333;
	font-family: arial;
}
#download-sort {
	margin: 5px 0px 0px 0px;
}
#download-sort-content {
	width: 200px;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 5px 0px; 
	border-bottom: 1px dashed #999;
}
.dsort-title {
	color: #666;
	font-size: 12px;
}
a.dsort-title:link {
	color: #666;
	font-size: 12px;
	background-image: url(image/download-folder.gif);
	background-repeat: no-repeat;
	text-decoration: underline;
	padding-left: 17px;
}
a.dsort-title:hover {
	color: #666;
	font-size: 12px;
	background-image: url(image/download-folder.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	padding-left: 17px;
}
a.dsort-title:visited {
	color: #666;
	font-size: 12px;
	background-image: url(image/download-folder.gif);
	background-repeat: no-repeat;
	text-decoration: underline;
	padding-left: 17px;
}
#download-all {
	margin: 10px 0px 0px 15px; 
	width: 98%; 
}
#download-content2 {
	width: 276px;
	height: 70px;
	border: 1px solid #ccc;
	margin: 0px 10px 10px 0px; 
	background-image: url(image/download-bg.gif);
	background-repeat: repeat-x;
	padding: 5px;
}
#download-content3 {
	width: 100%;
	height: 70px;
	border-left: 5px solid #C6E36D;
	padding: 0px 0px 10px 0px;
	color: #999;
	font-size:12px;
	line-height: 150%;
}
.download-pic2 {
	border: 1px solid #666;
	margin: 0px 5px 0px 5px;
}
.download-special {
	color: #ff3300;
}
.download-link {
	color: #666;
	font-size: 12px;
}
a.download-link:link {
	color: #666;
	font-size: 12px;
	textdecoration: underline;
}
a.download-link:hover {
	color: #666;
	font-size: 12px;
	textdecoration: none;
}
a.download-link:visited {
	color: #666;
	font-size: 12px;
	textdecoration: underline;
}
#download-title-long {
	width: 580px;
	height: 25px;
	margin: 6px 0px 10px 15px; 
	background-image: url(image/download-title.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	color: #cca622;
	font-size: 12px;
	padding-left: 15px;
}
#internet {
	margin: 10px 0px 0px 15px; 
	width: 98%; 
	color: #666;
	font-size: 12px;
}
.null{
	padding: 10px 0px 0px 6px;
}
.newyearlogo {
	margin-top: 5px;
}
.cnnewtearlogo {
	margin-top: 5px;
}
.moonlogo {
	margin-top: 5px;
	margin-left: 3px;
}

#preview {
	margin: 5px 0px 0px 15px;
}

.style24 {color: #666666}
.style25 {font-size: 14px}


.style26 {
	color: #EE4D76;
}
a.style26 { text-decoration: none; color:#EE4D76}  
a.style26:hover { text-decoration: none; color:#111111}  

.butterfly_text {
	color: #EE4D76;
	font-size: 14px;
	font-weight: bolder;
	letter-spacing: 2px;
	text-indent: 5px;	
}


.pathlink {
	color: #EE4D76;
	font-size: 12px;
}
a.pathlink:link {  text-decoration: none; color:#EE4D76}
a.pathlink:visited { text-decoration: none; color:#EE4D76}
a.pathlink:active { text-decoration: none; color:#EE4D76}
a.pathlink:hover { text-decoration: underline; color:#EE4D76}

.objtitle {
	margin: 1px 0px -1px 0px;
	color: #666666;
	font-size: 12px;
}
a.objtitle:link {  text-decoration: none; color:#666666}
a.objtitle:visited { text-decoration: none; color:#666666}
a.objtitle:active { text-decoration: none; color:#666666}
a.objtitle:hover { text-decoration: underline; color:#666666}

.objsubtitle {
	color: #666666;
	font-size: 11px;
}

.more {
	color: #EE4D76;
	font-size: 12px;
	font-weight: bolder;
}
a.more:link {  text-decoration: none; color:#EE4D76}
a.more:visited { text-decoration: none; color:#EE4D76}
a.more:active { text-decoration: none; color:#EE4D76}
a.more:hover { text-decoration: underline; color:#EE4D76}


#jumpmenu {
	color: #666666;
	font-size: 12px;
/*	font-weight: bolder; */
}

.jumpmenu-link {
	color: #00A3B6;
	font-size: 12px;
/*	font-weight: bolder; */
}
a.jumpmenu-link:link {  text-decoration: none; color:#00A3B6}
a.jumpmenu-link:visited { text-decoration: none; color:#00A3B6}
a.jumpmenu-link:active { text-decoration: none; color:#00A3B6}
a.jumpmenu-link:hover { text-decoration: underline; color:#00A3B6}


.mvtag {
	color: #EE4D76;
	font-size: 13px;
}
a.mvtag:link {  text-decoration: none; color:#00A3B6}
a.mvtag:visited { text-decoration: none; color:#00A3B6}
a.mvtag:active { text-decoration: none; color:#00A3B6}
a.mvtag:hover { text-decoration: underline; color:#00A3B6}


.mvblock {
	margin: 15px 0px 5px 0px;
}

.mvblock_image { 
	background-image: url(images/a1.png);
} 
.mvblock_image_hover {	background-image: url(images/a2.png);} 

.mvblock_text { 
	color: #666666;
	font-size: 12px;
} 

.mvblock_featured { 
	color: #FF3366;
	font-size: 12px;
} 


a.mvblock_text:link {  text-decoration: none; color:#666666}
a.mvblock_text:visited { text-decoration: none; color:#666666}
a.mvblock_text:active { text-decoration: none; color:#666666}
a.mvblock_text:hover { text-decoration: underline; color:#666666}


.menulink {
	color: #EE4D76;
	font-size: 14px;
}
a.menulink:link {  text-decoration: none; color:#EE4D76}
a.menulink:visited { text-decoration: none; color:#EE4D76}
a.menulink:active { text-decoration: none; color:#EE4D76}
a.menulink:hover { text-decoration: underline; color:#EE4D76}


.langlink {
	color: #00A3B6;
	font-size: 13px;
}
a.langlink:link {  text-decoration: none; color:#00A3B6}
a.langlink:visited { text-decoration: none; color:#00A3B6}
a.langlink:active { text-decoration: none; color:#00A3B6}
a.langlink:hover { text-decoration: underline; color:#00A3B6}

a.link_menu:link { text-decoration: none; color:#EE4D76}
a.link_menu:visited { text-decoration: none; color:#EE4D76}
a.link_menu:active { text-decoration: none; color:#EE4D76}
a.link_menu:hover { text-decoration: underline; color:#EE4D76}


.link_01 { text-decoration: none; color:#00A3B6 }
a.link_01:link { text-decoration: none; color:#00A3B6}
a.link_01:visited { text-decoration: none; color:#00A3B6}
a.link_01:active { text-decoration: none; color:#00A3B6}
a.link_01:hover { text-decoration: underline; color:#00A3B6}

.text_label { text-decoration: none; color:#333333}

#message_block {
	margin: 5px 0px 0px 5px;
}

#leavemsg_block {
	margin: 5px 0px 0px 0px;
}

#mymv_block {
	margin: 5px 5px 5px 25px;
}

.wordwrap
{
     word-wrap:break-word;
     word-break:break-all;
    -moz-binding: url('css/wordwrap.xml#wordwrap');
     overflow: hidden;
}

.whitetext {color: #FFFFFF}

.previewTitle {
	font-size: 14px;
	color: #EE4D76;
}


/*Yam header*/
.yamhead{
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;	   
}
.head_login_area{
	float: right;
	background-image: url(images_yam/menubar_all_03.gif);
	background-repeat: repeat-x;
	font-family: Arial, 新細明體;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}
.head_login_area a {
	background-image: url(images_yam/menubar_all_03.gif);
	background-repeat: repeat-x;
	font-family: Arial, 新細明體;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}
.head_login_area a:hover {
	color: #FFFF00;
}
.yamhead_area01{
	font-family: 新細明體;
	font-size: 11px;
	line-height: 20px;
	color: #1f3d7a;
	text-align: right;
	float: right;
}
.yamhead_area01 ul{	margin: 0px; padding: 0px; list-style-type: none;}
.yamhead_area01 li{ display: inline;}
.yamhead_area01 a{
	font-family: 新細明體;
	font-size: 11px;
	line-height: 20px;
	color: #706d82;
	text-align: right;
	text-decoration: none;
}
.yamhead_area01 a:hover{
	color: #ff6600;
	text-decoration: none;
}

.yam_logo_search_area{margin:5px 0px 13px 0px; padding:0px; height: 65px;}

#yam_logo_block{float: left;}
#yam_logo_block #yam{float: left;}
#yam_logo_block #partner{float: left; margin:0px 20px 0px 10px;}

#yam_search{
	float: left;
	font-family: Arial;
	font-size: 12px;
	color: #475562;
}
#yam_search ul{	margin: 0px; padding: 0px; list-style-type: none; margin: 20px 0px 5px 0px;}
#yam_search li{ display: inline;}
#yam_search li a{
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #bdbdbd;
	padding: 0px 5px 0px 5px;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #183c7b;
	text-decoration: none;
}
#yam_search li a:hover{
	color: #ff6600;
	text-decoration: none;
}
#yam_search li #in{
	color: #ff6600;
}


#yam_search .input_text{
	border: 1px solid #d4d4d4;
	width: 215px;
}

/*-- menubar start --*/
.yam_menubar_block{
	background-image: url(images_yam/menubar_bg.gif);
	height: 37px;
	width: 100%;
}
.yam_menubar_block ul{	margin: 0px; padding: 0px; list-style-type: none;}
.yam_menubar_block li{	
	float: left;
	list-style-type: none;
}
.yam_menubar_block li a{
    background-image: url(images_yam/menubar_area.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	font-family: Arial;
	font-size: 15px;
	line-height: 37px;
	color: #000000;
	text-decoration: none;
	height: 37px;	
	width: 140px;
	text-align: center;
	display: block;
}
.yam_menubar_block li a:hover{
	background-image: url(images_yam/menubar_in.gif);
	color: #ffffff;
	background-repeat: repeat-x;
}
.yam_menubar_block li #in{
    background-image: url(images_yam/menubar_in.gif);
	color: #ffffff;
	background-repeat: repeat-x;
}
.yam_menubar_left{
    background-image: url(images_yam/menubar_left.gif);
	width: 3px; height: 37px;
	float: left;
}
.yam_menubar_right{
    background-image: url(images_yam/menubar_right.gif);
	width: 3px;height: 37px;
	float: right;
}
/*-- menubar end --*/
#yamad{float: right;}

.clear_both{
	clear: both;    
}


#BDBridgeIconWrap{display:none !important;}   
#BDBridgeInviteWrap{display:none !important;}   
#BDBridgeMess{display:none !important;}   
